* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #3e3e3e;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --x: 400px;
    --y: 400px;
}

.box {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(100px at var(--x) var(--y), rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.666) 80%, rgba(0, 0, 0, 0.947) 100%);
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    width: 100%;
    height: 90%;
}

p {
    color: rgb(47, 255, 0);
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

video { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
