* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #121212;
}

.mouse-follower {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #ff4757;
    border-radius: 50%;
    pointer-events: none;
    transition: background-color 0.2s ease;
}