*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background: rgb(27, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-container{
    background-color: white;
    border: 2px solid crimson;
    padding: 1rem;
}