* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

    font-family: cursive;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #E5E7EB;
}

#navbar {
    width: 100%;
    height: auto;
    background-color: #111827; /* Rich Black */
    color: #fbbe24f0; /* Amber Yellow */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    position: sticky;
    top: 0;
    z-index: 50;
}

#name {
    color: #FBBF24;
    transition: all 0.3s ease-in-out;
}

#name:hover {
    color: #ffffff;
    cursor: pointer;
}

#sub-heading:hover {
    color: #FBBF24;
}

#nav-links {
    display: flex;
    gap: 20px;
}

#nav-links li {
    list-style: none;
    font-size: 20px;
}

#nav-links .nav-icons {
    transform: scale(1.1);
}

#nav-links a {
    text-decoration: none;
    color: #FBBF24;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

#nav-links a:hover {
    color: #ffffff;
    transform: scale(1.2);
}

i {
    transition: all 0.3s ease-in-out;
}

i:hover {
    /* color: #FBBF24; */
    cursor: pointer;
    transform: scale(1.1);
}

#project-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.container {
    border: 0px solid #111827;
    border-radius: 10px;
    padding: 20px;
    width: 90vw;
    margin: 10px auto;
    height: auto;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}

.challenge-title {
    font-size: 25px;
    font-weight: 700;
    color: #111827;
    padding: 10px 20px;
    background: #FBBF24;
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}

.cards img {
    width: 290px;
    height: 200px;
    border-radius: 10px;
    object-fit: fill;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.3s ease-in-out;
}

.cards img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.project-title {
    font-size: 20px;
    font-weight: 700;
    color: #111827;
}

.live-link {
    padding: 10px 20px;
    margin-top: auto;
    border: none;
    background-color: #FBBF24;
    color: #111827;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.live-link:hover {
    color: #ffffff;
    background: #111827;
}


@media screen and (min-width: 769px) {
    .cards img {
        width: 100%;   
    }
    
}


@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        padding: 10px 20px;
        gap: 10px;
    }

    #nav-links {
        width: 100%;
        justify-content: space-around;
    }

    .cards img {
        width: 100%;
        height: auto;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }
}
