*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

@property --rotate{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from {
        --rotate: 0deg;
    } to{
        --rotate: 360deg;
    }
}

.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    color:whitesmoke;
    flex-direction: column;
    gap:10px;
    /* box-shadow: 0px 0px 50px rgb(255, 0, 123); */
    box-shadow: 0px 0px 00px #0F0;
    border-radius: 15px;
    background: 
    /* linear-gradient(to top left, rgba(255, 255, 255, 0.593), black), */
    linear-gradient( black) padding-box,
    conic-gradient(from var(--rotate),black, #0F0, black ) border-box 
    /* conic-gradient(from var(--rotate),black, rgb(255, 0, 123), black ) border-box  */
    ;
    border: 0px solid rgba(255, 255, 255, 0);
    margin: 10px;
    animation: borderAnimate 2s linear infinite;
    animation-play-state: paused;
    transition: all 0.3s linear;
    text-shadow: 0px 0px 0px #0F0;
}
.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0px 0px 50px #0F0;
    color: #0F0;
    text-shadow: 0px 0px 5px #0F0;
    cursor: pointer;

}
.box img{
    width: 100%;
}