*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
}

@keyframes changeBackgroundColor {
    from {
        background-color: rgb(58, 58, 58);
        border-radius: 0px;
        scale: 1;
        /* font-size: 1rem; */
    } to{
        background-color: black;
        border-radius: 50px;
        scale: 0.5;
        /* font-size: 1.5rem; */
    }
}

.box{
    height: 200px;
    width: 400px;
    /* background: whitesmoke; */
    /* background: conic-gradient(from 45deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0)); */
    /* box-shadow: inset 0 0 50px rgb(38, 255, 0); */
    box-shadow: 0 0 50px rgb(38, 255, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: changeBackgroundColor 2s infinite alternate;
    word-wrap: break-word;
}

h1{
    color: #0F0;
    /* font-size: 3rem; */
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 4px 1px rgba(58, 58, 58, 0.479);
}