#root {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  text-align: center;
}

.logo {
  height: 2em;
  padding: 1.5em;
  will-change: filter;
  transition: all 300ms;
  animation: logo-spin infinite 5s linear;
  color: red;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
  /* text-decoration: none; */
  list-style: none;
}
