* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.weather-app {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* padding: 20px; */
    gap: 20px;
    width: 100%;
}

.weather-search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.277);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 10px;
    margin-bottom: 10px;
}

#search-box {
    background: #242425;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    width: 80%;
}

#search-box::placeholder {
    color: rgb(92, 92, 92);
}

.search button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background: #2a2b2b;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search button:hover {
    background: #0056b3;
}

.search-results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.main-result {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
}

.search-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

.search-img p {
    font-size: 4rem;
    /* font-weight: bold; */
}

.search-results img {
    width: 100px;
    height: 100px;
}

.data {
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.city-data, .time-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.city-data p {
    font-size: 1rem;
    margin: 5px 0;
}

.search-results .weather-type {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.search-results .weather-type img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.weather-details,
.seven-forecast {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.277);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-detail {
    flex-grow: 1;
    /* padding: 20px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.seven-forecast {
    flex-grow: 0;
    flex-wrap: wrap;
}

.forecasts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.weather-forecast-tile {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inner-forecast-tile {
    display: flex;
    /* flex-direction: column; */
    align-items: end;
    /* justify-content: center; */
    gap: 5px;
}

.inner-forecast-tile img {
    width: 40px;
    height: 40px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    opacity: 1;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-message-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ff4c4c;
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 10000;
}

.error-message button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background: #fff;
    color: #ff4c4c;
    cursor: pointer;
    font-weight: bold;
}