*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  background: #000;
}

main{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, #434343, #000000) ;
    color: #fff;
}

section{
    width: 500px;
    height: 100%;
    margin: auto;
    border-radius: 10px;
}

.all-reels{
    width: 100%;
    height: 100%;
    border-radius: 10px;   
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    width: 100%;
    height: 100vh;
     border-radius: 10px;
    position: relative;
    scroll-snap-align: start;
    background: rgb(40, 40, 40);
}


.reel video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.reel .bottom{
    width: 100%;
    padding: 20px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.162));
    position: absolute;
    bottom: 0;
}

.bottom .user{
    display: flex;
    align-items: center;
}

.bottom .user h4{
    font-size: 18px;
    font-weight: 600;
}

.bottom .user button{
    background: #fff;
    color: #000;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-left: auto;
}

.bottom .user button:hover{
    background: #e0e0e0;
}

.bottom h3{
    margin: 15px 0;
    font-size: 20px;
    font-weight: 600;
}

.bottom .user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.right{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    right: 60px;
    bottom: 120px;
    padding: 30px;
    transform: translate(100%);
    text-align: center;
}