* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  color: #333;
}

html{
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  /* max-width: 1200px; */
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border-bottom: 2px solid #e0e0e0; */
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #333;
  border: 2px solid #4d4c4c7f;
}

.nav-links a:active {
  color: white;
  background-color: #333;
  border: 2px solid #4d4c4c7f;
  scale: 0.95;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 100;
  width: fit-content;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #333;
}

.btn:active {
  scale: 0.95;
}

.hero {
  width: 100%;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 2rem;
  background: url(./assets/hero.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero h2 {
  font-size: 3rem;
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
  font-size: 1.2rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer .left, .footer .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer .left .div p {
  text-align: left;
  font-size: 0.9rem;
  color: #ffffff;
  opacity: 0.9;
}

.footer .left .photos {
  background: linear-gradient(135deg,
      rgba(245, 245, 245, 0.25),
      rgba(0, 123, 255, 0.15));
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  padding: 0.5rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .left .photos img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  margin-left: -2px;
  margin-right: -2px;
}

.footer .right p{
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.9;
}

.about-section {
  width: 100%;
  /* height: 60vh; */
  margin: 40px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.about-section .about{
  flex: 1;
  font-size: 1rem;
  color: #555;
}

.about-section .about p{
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: 2px solid #e0e0e0;
  width: fit-content;
}

.about-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.card-container{
  /* border: 2px solid #e0e0e0; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.cards{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 350px;
  height: 350px;
  padding: 1rem;
  border-radius: 20px;
}

.first-card{
  background: #0D1A2D;
}

.second-card{
  background: url("https://images.unsplash.com/photo-1522844831948-ec9400db7659?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.second-card h2{
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.7rem 1.2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  backdrop-filter: blur(2px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.first-card h2{
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.first-card h2 span{
  opacity: 0.2;
}
.first-card div:nth-child(3){
  display: flex;
  gap: 0.8rem;
  align-items: center;
  /* justify-content: center; */
}

.first-card div:nth-child(3) p{
  color: white;
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.7;
}

.third-card{
  background: #0D1A2D;
}