*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bg-color: rgb(27, 27, 27);
    --bg-btn-color: rgb(50, 50, 50);
    --btn-color: crimson;
    --primary-color: rgb(230, 230, 230);

    /* padding variables */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;

    /* border radius */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    background-color: var(--bg-btn-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    padding: var(--padding-m) var(--padding-l);
    border-radius: var(--border-radius-m);
    cursor: pointer;
}

section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--padding-xxl);
}

section .task-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--padding-xl);
    background: #000;
    flex-grow: 1;
    padding: var(--padding-l);
    border-radius: var(--border-radius-l);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over{
    border: 2px dashed var(--primary-color);
    scale: 1.05;
}

section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .task-column .task{
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: var(--padding-l);
    border-radius: var(--border-radius-m);
    cursor: grab;
}

section .task-column .task:active{
    cursor: grabbing;
}

section .task-column .task button{
    background-color: var(--btn-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    padding: var(--padding-s) var(--padding-l);
    border-radius: var(--border-radius-s);
    cursor: pointer;
    align-self: flex-end;
}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #000;
    bgbackdrop-filter: blur(5px); */
}

.modal.active{
    display: flex;
}

.modal .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #29292959;
    backdrop-filter: blur(5px);
    z-index: 5;
}

.modal .center{
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    background-color: var(--bg-color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-l);
    z-index: 10;
}

.modal .center input, .modal .center textarea{
    background-color: var(--bg-btn-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
    /* width: 300px; */
}

.modal .center button{
    background-color: var(--btn-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    padding: var(--padding-m) var(--padding-l);
    border-radius: var(--border-radius-m);
    cursor: pointer;
    /* align-self: flex-end; */
    align-self: center;
}