* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

@mixin flexCenter($justify: none) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin a($text-decor) {
    text-decoration: $text-decor;
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
        color: rgb(100, 100, 100);
    }
}

// .parent {
//     padding: 20px 40px;
// }

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding: 20px 80px;
    gap: 20px;

    img#user-profile {
        position: absolute;
        bottom: 1%;
        right: 2%;
        image-rendering: optimizeSpeed;
        height: 85%;
        width: 800px;
    }
}

.navbar {
    @include flexCenter(space-between);
    // padding: 20px 40px;

    .nav-left {
        @include flexCenter();
        gap: 40px;

        .logo {
            width: 40px;
            height: auto;
        }

        .nav-links {
            @include flexCenter();
            gap: 30px;

            a {
                @include a(none);
            }
        }
    }

    .nav-right {
        @include flexCenter();
        gap: 5px;

        a {
            @include a(underline);
        }
    }
}

main {
    width: 100%;
    height: 100%;
    position: relative;

    .left-line-container {
        position: absolute;
        top: 600px;
        left: 0;
        color: rgb(80, 80, 80);
        @include flexCenter();
        gap: 10px;
        transform-origin: top left;
        transform: rotate(-90deg);

        .line {
            width: 400px;
            height: 2px;
            background-color: rgb(80, 80, 80);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // gap: 100px;
        padding-left: 100px;
        // padding-top: 70px;
        height: 600px;

        .achievements {
            display: flex;
            gap: 20px;

            .ach1,
            .ach2 {
                .ach-number {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 50px;
                    font-weight: 100;
                }

                .ach-text {
                    padding-left: 30px;
                    color: rgb(80, 80, 80);
                }
            }
        }

        .hero-intro {
            h1 {
                margin-top: 70px;
                font-size: 220px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 100;
                line-height: 1;
            }

            p {
                font-size: 18px;
                padding-left: 20px;
            }

            margin-bottom: 180px;
        }

        .scroll {
            font-size: 18px;
            padding-left: 20px;
        }
    }
}
