:root {
    /* --primary-color: #00ADB5;
    --secondary-color: #393E46;
    --pri-background-color: #222831;
    --pri-text-color: #EEEEEE; */
    --primary-color: #E5B299;
    --secondary-color: #B4846C;
    --pri-background-color: #55372f;
    --sec-background-color: #A55B4B;
    --pri-text-color: #edecec;
    --sec-text-color: #FCDEC0;
    --red: red;
    --green: rgb(8, 198, 8);
    --blue: rgb(8, 112, 198);
    --black: black;
    --font-family: 'Roboto Slab', sans-serif;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf');
    font-weight: 100 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--pri-text-color);
    font-family: 'Roboto Slab', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background: var(--pri-background-color);
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background: var(--secondary-color);
    z-index: 10;
    display: none;
}

#title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--pri-text-color);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 20px;
}

.allElems header {
    width: 100%;
    height: 60%;
    /* background: url("https://images.unsplash.com/photo-1466611653911-95081537e5b7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-radius: 20px;
}

header .header-1 h1 { font-size: 2rem; }
header .header-1 h2 { font-size: 3rem; }
header .header-1 h4 { font-size: 2rem; }

header .header-2 h2 { font-size: 2.2rem; }
header .header-2 h4 { font-size: 1.6rem; }
header .header-2 h3 { font-size: 1.1rem; }


.allElems .allFeatures {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
}

.elem {
    position: relative;
    background-color: var(--sec-background-color);
    /* padding: 10px 10px 40px 10px; */
    border-radius: 10px;
    /* height: 300px;
    width: 270px; */
    align-items: stretch;
    overflow: hidden;
    /* flex-grow: 1; */
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

.elem img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}

.elem img:hover {
    transform: scale(1.1);
}

.elem h2 {
    position: absolute;
    bottom: 2%;
    right: 5%;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--pri-text-color);
    text-shadow: 2px 2px 5px var(--pri-background-color);
}

.elem:active {
    transform: scale(0.95);
}

.fullElem {
    /* margin-top: 20px; */
    width: 100%;
    height: 100%;
    background-color: var(--pri-background-color);
    /* padding: 40px; */
    padding: 20px 40px;
    display: none;
    position: absolute;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* margin-bottom: 30px; */
}

.back {
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--red);
    padding: 10px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

.back:active {
    transform: scale(0.95);
    box-shadow: none;
}

.fullElem .title h2 {
    font-size: 3rem;
}

.todo-list-fullpage .todo-container {
    width: 100%;
    height: 80%;
    margin-top: 40px;
    /* background: var(--sec-background-color); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .add-task {
    width: 33%;
    height: 100%;
    /* border: 2px solid var(--pri-text-color); */
    border-radius: 20px;
    background: var(--primary-color);
}

.todo-list-fullpage .todo-container .add-task form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 15px;
    padding: 20px;
}

.todo-container .add-task form input,
.todo-container .add-task form textarea,
.todo-container .add-task form button {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    background: var(--pri-background-color);
    transition: all 0.2s ease;
}

.todo-container .add-task form input::placeholder,
.todo-container .add-task form textarea::placeholder {
    color: var(--sec-text-color);
}

.todo-container .add-task form button {
    /* background: var(--secondary-color); */
    color: var(--pri-text-color);
    cursor: pointer;
}

.todo-container .add-task form button:active {
    transform: scale(0.95);
}

.todo-list-fullpage .todo-container .all-task {
    width: 65%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    background: var(--primary-color);
    border-radius: 20px;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--pri-text-color);
    padding: 20px 40px;
    border-radius: 10px;
    gap: 10px;
}

.task .task-details {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task h5 {
    display: flex;
    align-items: flex-start;
    gap: 0.2rem;
    font-size: 1.5rem;
    color: var(--pri-background-color);
}

.task h5 span {
    color: var(--pri-text-color);
    background: var(--red);
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.6rem;
}

.task h5 span.true {
    opacity: 1;
}

.task h5 span.false {
    opacity: 0;
}

.task p {
    font-size: 0.9rem;
    color: var(--pri-background-color);
    word-break: break-all;
}

.task button {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--pri-background-color);
    color: var(--pri-text-color);
}

.task button:active {
    transform: scale(0.95);
}

.mark-imp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 2px;
}

.mark-imp #imp-task {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.mark-imp label {
    font-size: 1rem;
    color: var(--pri-background-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

.mark-imp label:hover {
    text-decoration: underline;
}

.mark-imp label::selection {
    color: var(--pri-text-color);
}

.daily-planner-fullpage .day-planner {
    margin-top: 20px;
    width: 100%;
    height: 85%;
    background: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
}

.daily-planner-fullpage .day-planner .day-planner-time {
    margin-bottom: 15px;
    position: relative;
    width: 49%;
}

.day-planner .day-planner-time p {
    font-size: 1rem;
    position: absolute;
    top: 5%;
    left: 1%;
    color: var(--primary-color);
}

.day-planner .day-planner-time input {
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.2rem;
    padding-top: 25px;
    background: var(--pri-background-color);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
}

.motivational-quotes-fullpage {
    border: 2px solid var(--pri-text-color);
    position: relative;
}

.motivation-full-data {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivational-quotes-fullpage .motivation-container {
    position: relative;
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

.motivational-quotes-fullpage .motivation-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    z-index: 8;
    scale: 1.1;
    filter: blur(150px);
}

.motivation-container .motivation-wrapper {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    background-color: var(--sec-text-color);
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    overflow: hidden;
}

.motivation-container .motivation-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    top: 0;
    left: 50%;
    transform-origin: center;
    border-radius: 10px;
    background: var(--secondary-color);
    transform: translateX(-50%) scale(0);
    z-index: 10;
    transition: all 0.7s ease;
}

.motivation-container .motivation-wrapper:hover::before {
    transform: translateX(-50%) scale(1);
}

.motivation-wrapper .motivation-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.motivation-wrapper h2,
.motivation-wrapper .motivation-author p {
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    color: var(--pri-text-color);
    background-color: var(--secondary-color);
    border-radius: 10px 10px;
    padding: 10px 20px;
}

.motivation-wrapper .motivation-heading img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    opacity: 0.8;
}

.motivation-wrapper .motivation-body p {
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 500;
    color: var(--sec-background-color);
}

.motivation-wrapper .motivation-body p::selection {
    color: var(--pri-background-color);
}

.motivation-wrapper .motivation-author {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.motivation-wrapper .motivation-author p {
    font-size: 1rem;
}

.pomodoro-timer-fullpage .pomo-timer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h1 {
    font-size: 10rem;
    font-weight: 900;
}

.pomo-timer button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--pri-text-color);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease;
}

.pomo-timer button:active {
    transform: scale(0.95);
    box-shadow: none;
}

.pomodoro-timer-fullpage .session {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--pri-text-color);
    background: var(--green);
    padding: 10px 20px;
    border-radius: 5px;
}