:root{
    /* --primary-color: #00ADB5;
    --secondary-color: #393E46;
    --pri-background-color: #222831;
    --pri-text-color: #EEEEEE; */
    --primary-color: #E5B299;
    --secondary-color: #B4846C;
    --pri-background-color: #55372f;
    --sec-background-color: #A55B4B;
    --pri-text-color: #FFF;
    --sec-text-color: #FCDEC0;
    --font-family: 'Roboto Slab', sans-serif;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf');
    font-weight: 100 900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--pri-text-color);
    font-family: 'Roboto Slab', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background: var(--pri-background-color);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background: var(--secondary-color);
    z-index: 10;
}

#title{
    text-align: center;
    font-size: 2.5rem;
    color: var(--pri-text-color);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: center; */
    gap: 20px;
    position: absolute;
}

.elem{
    position: relative;
    background-color: var(--sec-background-color);
    /* padding: 30px 40px; */
    border-radius: 10px;
    height: 300px;
    width: 270px;
    overflow: hidden;
    /* flex-grow: 1; */
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,0.7);
    transition: all 0.3s ease;
}

.elem img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.elem h2{
    position: absolute;
    bottom: 2%;
    right: 5%;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--pri-text-color);
    text-shadow: 2px 2px 5px var(--pri-background-color);
}

.elem:active{
    transform: scale(0.95);
}

.fullElem{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: var(--pri-background-color);
    padding: 40px;
    font-size: 1.5rem;
    display: none;
    position: absolute;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* margin-bottom: 30px; */
}

.back{
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: red;
    padding: 10px 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}
.back:active{
    transform: scale(0.95);
    box-shadow: none;
}  

