@font-face {
    font-family: aeonik;
    src: url(./assets/fonts/Aeonika-BF66fcc5a8cc5db.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: aeonik, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background: #111;
}