* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #0b0e13;
    color: #e8f9f3;
}

main {
    width: 100%;
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 28px 24px;
    border-radius: 18px;

    background: rgba(0, 255, 180, 0.04);
    border: 1px solid rgba(0, 255, 180, 0.15);
    backdrop-filter: blur(14px);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    position: relative;
    overflow: hidden;

    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);

    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 255, 180, 0.35);
    background: rgba(0, 255, 162, 0.347);
}

.card img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(0, 255, 180, 0.35);
    box-shadow: 0 0 18px rgba(0, 255, 180, 0.25);

    transition: all 0.3s ease;
}

.card:hover img {
    border-color: rgba(0, 255, 180, 0.65);
    box-shadow: 0 0 28px rgba(0, 255, 180, 0.45);
}

.card h3 {
    color: #eafff3;
    font-size: 1.45rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.card h4 {
    font-size: 0.95rem;
    color: #86ffd8;
    font-weight: 500;
}

.card p {
    text-align: center;
    font-size: 0.9rem;
    color: #ccefdf;
    line-height: 1.45;
}

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6px;
}

.tag {
    background: rgba(0, 255, 180, 0.12);
    border: 1px solid rgba(0, 255, 180, 0.25);

    color: #b8ffe7;
    padding: 5px 11px;

    font-size: 0.72rem;
    font-weight: 500;
    border-radius: 12px;

    transition: all 0.3s ease;
}

.tag:hover {
    background: rgba(0, 255, 136, 0.648);
    border-color: rgba(0, 255, 180, 0.45);
    color: #000;
}